@font-face {
  font-family: 'Coiny';
  src: local('Coiny'), url('./fonts/Coiny/Coiny-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Aclonica';
  src: local('Aclonica'), url('./fonts/Aclonica/Aclonica-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Abel';
  src: local('Abel'), url('./fonts/Abel/Abel-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
